@model IEnumerable<PaginaPessoal2.Models.Habilitacoes>

@{
    ViewData["Title"] = "Index";
}

<header class="masthead text-center p-5">
    <div class="masthead-content">
        <div class="container">
            <h1 class="display-4 p-5 mb-0">Nuno Aniceto</h1>
            <h2 class="display-3 p-0 mb-0">Habilitações</h2>


        </div>
    </div>

</header>

<section>
    <div class="container p-5">

        <article>

            <p>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Create" class="btn btn-success">Novas Habilitações</a>
                }
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Fotografia
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ano)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Curso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Instituicao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="width:100px;" >
                            @if (item.Foto != null)
                            {
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Foto)" class="img-fluid" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instituicao)
                        </td>
                        <td style="width:1px; white-space:nowrap;">
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.HabilitacoesId" class="btn btn-warning">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.HabilitacoesId" class="btn btn-info">Detalhes</a>
                                <a asp-action="Delete" asp-route-id="@item.HabilitacoesId" class="btn btn-danger">Eliminar</a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </article>

    </div>

</section>