@model ListaExperienciaViewModel

@{
    ViewData["Title"] = "Index";
}


<header class="masthead text-center p-5 mb-2">
    <div class="masthead-content">
        <div class="container">
            <h1 class="display-4 p-5 mb-0">Nuno Aniceto</h1>
            <h2 class="display-3 p-1 mb-0">Experiência</h2>


        </div>
    </div>

</header>

<section>
    <div class="container p-5">

        <article>

            <div class="card border-info mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pesquisa</h5>
                    <form asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="nomePesquisar" class="control-label">Empresa</label>
                            <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Pesquisar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Limpar</a>
                        </div>
                    </form>
                </div>
            </div>

            @if (Model.Experiencias.Count() == 0)
            {
                <p>Não existe Experiência para mostrar.</p> }
            else
            {

                <p>
                    <a asp-action="Create" class="btn btn-success">Nova Experiência</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Experiencias[0].Ano)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Experiencias[0].Empresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Experiencias[0].Cargo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var experiencia in Model.Experiencias)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => experiencia.Ano)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => experiencia.Empresa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => experiencia.Cargo)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@experiencia.ExperienciaId" class="btn btn-warning">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@experiencia.ExperienciaId" class="btn btn-info">Detalhes</a> |
                                    <a asp-action="Delete" asp-route-id="@experiencia.ExperienciaId" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination">
                        @{ int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                            
                            if (paginaInicial < 1)
                            {
                                paginaInicial = 1;
                            }

                            int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                            
                            if (paginaFinal > Model.Paginacao.TotalPaginas)
                            {
                                paginaFinal = Model.Paginacao.TotalPaginas;
                            } }

                        <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                        </li>

                        @for (int i = paginaInicial; i <= paginaFinal; i++)
                        {
                            <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                            </li>
                        }

                        <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                        </li>
                    </ul>
                </nav>
            }
        </article>

    </div>

</section>